<div>
    <%=copyright%>
</div>
</body>
<script type="text/javascript" src="javascripts/jquery.min.js"></script>
<script type="text/javascript" src="javascripts/materialize.min.js"></script>
<script type="text/javascript" src="javascripts/index.js">
</script>

</html>