<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/dist/css/style_bbd9d6e2be.css" rel="stylesheet">
    <link href="/dist/css/reset_3c8652f7bc.css" rel="stylesheet">
    <title>
        <%=title%>
    </title>
</head>